@font-face {
    font-family: 'San-Francisco';
    src: url('fonts/sfcompactdisplay-black-webfont.woff2') format('woff2'),
         url('fonts/sfcompactdisplay-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'San-Francisco';
    src: url('fonts/sfcompactdisplay-regular-webfont.woff2') format('woff2'),
         url('fonts/sfcompactdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'San-Francisco', sans-serif;
}