
@import 'fonts';
@import 'colors';
@import 'home';
@import 'services';
@import 'projects';
@import 'about';
@import 'contact';

a {
    text-decoration: none !important;
}

body {
    background: linear-gradient(0deg, #2d3436 0%, #000000 74%);
    overflow-x: hidden;
}

h1 {
    margin-bottom: 20px;
    font-weight: 900;
    line-height: 1.3;
    font-size: 80px;
}

.uppercase {
    text-transform: uppercase;
}

.btn {
    outline: none;
    padding: 0;
    a {
        padding: 10px 30px;
        transition: background-color .2s ease-out;
        border: 2px solid;
        background-color: $lakers-dark;
        border-color: $lakers-dark;
        color: white;
        border-radius: 50px;
        box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
        transition: .3s ease-out;
    }
    &-purple {
        a {
            background-color: $lakers-purple;
            border-color: $lakers-purple;
        }
    }
    &:focus {
        outline: none;
    }
}

#header {
    background: rgba(0,0,0,0.64);
    z-index: 9999;
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);;
    .navbar {
        background: transparent;
    }
}

#page-content {
    color: white;
    padding: 15px;
    min-height: 100vh;
}

@media all and (min-width: 992px) {
    #header  {
        background: transparent;
        box-shadow: none;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 100px;
        display: flex;
        color: #fff;
        .navbar {
            height: 100%;
            &-brand a {
                font-size: 20px;
                font-weight: 700;
                color: #fff;
                line-height: 24px;
            }
            &-nav {
                .nav-item {
                    a {
                        color: #fff;
                        padding: 5px 15px;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0.3px;
                        &:hover {
                            color: $lakers-gold;
                        }
                    }
                }
            }
        }
    }
    #page-content {
        .content {
            min-height: 50vh;
        }
    }
}

@media all and (min-width: 1199px) {
    body {
        overflow: hidden;
    }
}