
@import 'fonts.scss';
$lakers-gold: #FDB927;
$lakers-dark: #191219;


body {
    background-color: #923cb5;
    background-image: linear-gradient(147deg, #552583 0%, #4A00E0 74%);
    overflow-x: hidden;
}

h1 {
    font-weight: 900;
}

#header {
    background: rgba(0,0,0,0.64);
    z-index: 9999;
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);;
    .navbar {
        background: transparent;
    }
}

#page-content {
    color: white;
    padding: 15px;
    min-height: 100vh;
}

@media all and (min-width: 992px) {
    #header  {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 100px;
        display: flex;
    }
    #page-content {
        .content{
            min-height: 50vh;
            width: 90%;
            max-width: 1070px;
            #about-content {
                background: yellow;
            }
            #projects-content {
                background-color: #FDB927;
            }
            #contact-content {
                background: red;
            }
            #services-content {
                background: blue;
            }
        }
    }
}

@media all and (min-width: 1199px) {
    body {
        overflow: hidden;
    }
}